body {
  background: -webkit-linear-gradient(right, rgba(170,246,131), rgba(255,0,0,0)),
                url('/images/bg_image-1 (1).jpg') no-repeat center center / cover;
 
font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
.bg-light{
  padding: 0px;
}
.container-fluid {
    background:transparent;
}
/*.nav-link{
  color: #212529;
  font-family: Papyrus, Fatasy;
  font-size: 22px;
}
.navbar-nav .nav-link.active{
  color: #212529;
  font-family: Papyrus, Fatasy;
  font-size: 22px;
}
.nav-link:hover{
  color: white;
}*/
.error_msg{
  color: #ff0000 ;
  margin-left: 15px;
  margin-bottom: 0px;
}
.navbar-dark .navbar-nav .nav-link{
  color: #212529;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
}
.navbar-dark .navbar-nav .nav-link.active{
  color: #212529;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: white;
}
.navbar-nav .nav-link.active:hover{
  color: white;
}
.green-color {
  color:green;
}
h1{
  position: relative;
  left: 0px;
}
table{
  margin-left: 150px;
  margin-top: 20px;
}
input[type=text], [type=email],[type=password]{
  border-radius: 50px;
}
::-webkit-input-placeholder {
   text-align: center;
}
input:focus::placeholder {
 
  opacity:0.5;
}
td{
  padding-top: 0px;
}
.btn{
  border-radius: 50px;
  background-color: #AAF683;
  border: none;
  color: #000;
  text-align: center;
  font-size: 24px;
  padding-top: 0px;
  width: 180px;
  height: 45px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 45px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
.btn{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn:after {
  content: '»';
  position: absolute;
  font-size: 26px;
  font-weight: bold;
  opacity: 0;
  top: 0px;
  
  transition: 0.5s;
}
.btn:hover{
  padding-right: 24px;
  padding-left:8px;
  color:black;
}
.btn:hover:after {
  opacity: 1;
  right: 10px;
  color: black;
}
.btn a:hover{
  color: black;
}
